* {
    box-sizing: content-box;
    padding: 0;
    margin: 0;
}

body {
    height: 1024px;
    background: #FEFFE4;
}

.produto {
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    
}

#listaProdutos {
    margin-top: 50px;
    font-family: Ubuntu;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
    
}

form {

    width: 440px;
    height: 530px;
    flex-shrink: 0;
    margin-top: 50px;
    padding-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

#upput {
    color: #000;
    text-align: center;
    font-family: Ubuntu;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}


#titulo {
    font-family: Ubuntu;
    display: flex;
    width: 273px;
    height: 35px;
    flex-direction: column;
    flex-shrink: 0;
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

input {
    width: 304px;
    height: 34px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #000;
    background: #FEFFE4;
    box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.25) inset;
    margin-left: 60px;
    margin-bottom: 10px;
}

label {
    color: #000;
    text-align: center;
    font-family: Ubuntu;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 67px;
}

#btnAtualizar {
    width: 167px;
    height: 46px;
    flex-shrink: 0;
    margin-left: 59px;
    margin-top: 45px;
    border-radius: 2px;
    background: #48A4FA;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-color: #48A4FA;
    color: #FFF;
    text-align: center;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#reset {
    width: 118px;
    height: 46px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #F59999;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-left: 20px;
    color: #444;
    text-align: center;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#lipr {
    display: flex;
    width: 243px;
    height: 38px;
    flex-direction: column;
    flex-shrink: 0;
    margin-left: 30px;
    color: #000;
    font-family: Ubuntu;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#btCadastrar {
    width: 167px;
    height: 46px;
    flex-shrink: 0;
    margin-left: 140px;
    margin-top: 45px;
    border-radius: 2px;
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
    text-align: center;
    font-family: Ubuntu;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

::placeholder {
    font-family: Ubuntu;
    font-size: 11px;
    font-style: italic;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;

}

.produto:nth-child(even) {
    background-color: #FFF1C1;
    padding-left: 30px;
    padding-right: 30px;
    height: 60px; 

}
    

.produto:nth-child(odd) {
    background-color: #FFF;
    padding-left: 30px;
    padding-right: 30px;
    height: 60px; 
    
}

